@model Paulo.MarvelSearch.Web.Models.SearchLogViewModel
<div class="container">
    <h4>Last searches</h4>
    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th class="w-25">Date</th>
                <th>Search</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.Logs)
            {

                <tr>
                    <td>@log.Date</td>
                    <td>@log.CharacterName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
