@model Paulo.MarvelSearch.Web.Models.LoginViewModel
<form asp-action="Login" method="post">
    <div class="container">
        <div class="form-group">
            <label asp-for="Username">Email address</label>
            <input asp-for="Username" type="text" class="form-control" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
        </div>
        @if (!string.IsNullOrEmpty(Model?.Message))
        {
            <p class="text-danger">@Model.Message</p>
        }

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
