<template>
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      components: {
      },

      data () {
        return {}
      }
    }
</script>

<style>
</style>
