<template>
  <div>
    <div class="form-inline m-2">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search" v-model="characterName" />
      <button class="btn btn-outline-success" @click="search" :disabled="isLoading">Search</button>
    </div>
    
    <div class="container-fluid">
      <div v-if="message">
        <h5>{{message}}</h5>
      </div>
      <div v-if="isLoading" class="text-center">
        <h1><icon icon="spinner" pulse /></h1>
      </div>
      <div v-if="characterData">
        <div class="row">
          <div class="col-sm">
            <h2>{{characterData.name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img class="img-fluid" :src="characterData.imageUrl" alt=":characterData.name">
          </div>
          <div class="col-md-6">
            <h5>Bio</h5>
            <p class="text-justify">{{characterData.description}}</p>
          </div>
          <div class="col-md-3">
            <h5>Stories</h5>
            <ul>
              <li v-for="(item, index) in characterData.stories">
                {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      characterName: null,
      characterData: null,
      message: null,
      isLoading: false
    }
  },
  methods: {
    async search () {
      try {
        this.message = null;
        this.characterData = null;
        this.isLoading = true;
        let response = await this.$http.get(`/api/marvel/character?name=${this.characterName}`);
        this.characterData = response.data;

      } catch (err) {
        if (err.response && err.response.status == 404) {
          this.message = "Character not found!";
        }
        else {
          window.alert(err);
          console.log(err);
        }
      }

      this.isLoading = false
    }
  },

  async created () {
  }
}
</script>

<style>
</style>
